<div class="row">
  <div class="col-3 m-2">
    <button class="btn btn-success">Sukses</button>
  </div>
  <div class="col-3 m-2">
    <button class="btn btn-info">Info</button>
  </div>
  <div class="col-3 m-2">
    <button class="btn btn-warning">Warning</button>
  </div>
  <div class="col-3 m-2">
    <button class="btn btn-danger">Danger</button>
  </div>
  <div class="col-3 m-2">
    <button class="btn btn-primary">Primary</button>
  </div>
  <div class="col-3 m-2">
    <button class="btn btn-secondary">Secondary</button>
  </div>
  <div class="col-12 m-2">
    <input
      type="text"
      class="form-control"
      placeholder="Ini textbox Bootstrap"
    />
  </div>
  <div class="col-12 m-2">
    <select class="form-control">
      <option value="P" selected>Laki-laki</option>
      <option value="W">Perempuan</option>
    </select>
  </div>
</div>
